#!/bin/bash
set -e -x

yum install --disableplugin=priorities -y httpd
#yum install -y ruby19 git wget curl vim ruby19-devel make gcc nginx
#gem install bundler
#ssh-keygen

cat << EOF >> /var/www/html/index.html
<html>
<head>
</head>
<body>
Hello! I am a <%= environment %> server,  `uname -a`
</body>
</html>
EOF

service httpd start
